body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "Title Title Title"
    "text text text"
    "audio audio audio"
    "input input input"
    "submit start upload";
    justify-items: stretch;
    text-align: center;
    align-items: center;
}


#title {
    grid-area: Title;
}

#text {
    grid-area: text;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span:hover {
    cursor: pointer;
}

#start {
   grid-area: start;
}
#player {
    grid-area: audio;
    width: 100%;
}

#input {
    grid-area: input;
    width: 95%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit {
    grid-area: submit;
}

#upload-button {
    grid-area: upload;
}

button, label {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    padding: 1rem 2rem;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover, label:hover {
    background-color: #ddd;
    color: black;
}

.color {
    color: red;
}


@media only screen and (max-width: 750px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "Title Title"
        "text text"
        "audio audio"
        "start start"
        "upload upload"
        "input input"
        "submit submit";
        justify-items: stretch;
        text-align: center;
        align-items: center;
    }
}